[Unit]
Description=Mount mmcblk device %i at /media/user
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mkdir -p /media/user/%i
ExecStart=/bin/mount /dev/%i /media/user/%i
ExecStart=/bin/chown 32011:32011 /media/user/%i
ExecStart=/bin/chmod 755 /media/user/%i
ExecStop=/bin/umount /media/user/%i

[Install]
WantedBy=multi-user.target
